In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Krasnoselkup,RU,2022-02-05 13:30:34,65.7000,82.4667,-1.07,99,74,9.31
1,1,Punta Arenas,CL,2022-02-05 13:27:47,-53.1500,-70.9167,50.02,76,100,11.50
2,2,Tayu,ID,2022-02-05 13:30:34,-6.5397,111.0518,78.85,87,99,9.01
3,3,Chernyshevskiy,RU,2022-02-05 13:30:35,63.0128,112.4714,-21.80,100,89,2.33
4,4,Cape Town,ZA,2022-02-05 13:25:35,-33.9258,18.4232,88.27,40,0,4.00

In [3]:
# Display data types for your dataframe
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
### Create Heatmaps for Weather Parameters  6.5.2

# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
# fig = gmaps.figure()  standard call for figure when calling upon gmaps api

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
    # Method 1: of converting temperatures to postive using for loop shown in code above
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
    
    # Method 2: directly insert for loop of temperature search for highest temps with zero being the bottom when using max()
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# This is finalized edit of heat map based on documentation
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
### Create Heatmaps for Weather Parameters  6.5.2

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
### Create Heatmaps for Weather Parameters  6.5.2

# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights = clouds,
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
### Create Heatmaps for Weather Parameters  6.5.2

# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights = wind,
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
### Get Vacation Criteria  6.5.3

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(20)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Tayu,ID,2022-02-05 13:30:34,-6.5397,111.0518,78.85,87,99,9.01
4,4,Cape Town,ZA,2022-02-05 13:25:35,-33.9258,18.4232,88.27,40,0,4.00
6,6,Rikitea,PF,2022-02-05 13:30:35,-23.1203,-134.9692,78.10,74,9,9.57
9,9,Alugan,PH,2022-02-05 13:30:36,12.2188,125.4808,79.70,74,94,16.04
12,12,Vaini,TO,2022-02-05 13:30:37,-21.2000,-175.2000,77.16,94,100,5.75
16,16,Funtua,NG,2022-02-05 13:30:38,11.5233,7.3081,83.19,11,50,14.94
17,17,Port Elizabeth,ZA,2022-02-05 13:30:38,-33.9180,25.5701,70.11,88,100,18.41
21,21,Gouyave,GD,2022-02-05 13:30:39,12.1646,-61.7296,79.57,74,75,12.66
27,27,Padang,ID,2022-02-05 13:30:21,-0.9492,100.3543,73.45,95,100,3.65
30,30,Jambi,ID,2022-02-05 13:30:41,-1.6000,103.6167,75.00,95,100,2.95
31,31,Geraldton,AU,2022-02-05 13:30:41,-28.7667,114.6000,77.41,73,0,8.05
34,34,Choma,ZM,2022-02-05 13:30:41,-16.8065,26.9531,71.65,83,79,5.28
35,35,Dingle,PH,2022-02-05 13:30:42,10.9995,122.6711,75.67,80,15,14.38
36,36,Puerto Colombia,CO,2022-02-05 13:30:42,10.9878,-74.9547,78.89,70,7,18.34
37,37,Adrar,MR,2022-02-05 13:30:42,20.5022,-10.0711,82.29,6,80,9.53
40,40,Chapada Dos Guimaraes,BR,2022-02-05 13:30:43,-15.4606,-55.7497,76.66,70,22,3.11
41,41,Tocopilla,CL,2022-02-05 13:30:23,-22.0920,-70.1979,72.54,64,2,8.28
42,42,Surat,IN,2022-02-05 13:30:43,21.1667,72.8333,76.98,44,15,2.30
47,47,Esperance,AU,2022-02-05 13:30:59,-33.8667,121.9000,75.04,66,0,21.52
49,49,Bambous Virieux,MU,2022-02-05 13:30:17,-20.3428,57.7575,82.65,78,40,18.41

In [19]:
# Determine if there are any null values

#preferred_cities_df.count()

preferred_cities_df.notnull().sum()

City_ID       219
City          219
Country       215
Date          219
Lat           219
Lng           219
Max Temp      219
Humidity      219
Cloudiness    219
Wind Speed    219
dtype: int64

In [20]:
# IF THERE ARE NULL VALUES

preferred_cities_df = preferred_cities_df.dropna(how = 'all')

# Checking dataframe again aftter clearing nulls

preferred_cities_df.notnull().sum()

City_ID       219
City          219
Country       215
Date          219
Lat           219
Lng           219
Max Temp      219
Humidity      219
Cloudiness    219
Wind Speed    219
dtype: int64

In [21]:
### Map Vacation Criteria 6.5.4

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2             Tayu      ID     78.85  -6.5397  111.0518
4        Cape Town      ZA     88.27 -33.9258   18.4232
6          Rikitea      PF     78.10 -23.1203 -134.9692
9           Alugan      PH     79.70  12.2188  125.4808
12           Vaini      TO     77.16 -21.2000 -175.2000
16          Funtua      NG     83.19  11.5233    7.3081
17  Port Elizabeth      ZA     70.11 -33.9180   25.5701
21         Gouyave      GD     79.57  12.1646  -61.7296
27          Padang      ID     73.45  -0.9492  100.3543
30           Jambi      ID     75.00  -1.6000  103.6167

In [22]:
## Begin Search using the Google Nearby Search API activated using PLACES API

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"] 
        # This finds names but cannot handle errors of missing names
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Tayu,ID,78.85,-6.5397,111.0518,Toko pakaian bu is Tayu
4,Cape Town,ZA,88.27,-33.9258,18.4232,Southern Sun Waterfront Cape Town
6,Rikitea,PF,78.10,-23.1203,-134.9692,People ThankYou
9,Alugan,PH,79.70,12.2188,125.4808,JM Lodge
12,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
16,Funtua,NG,83.19,11.5233,7.3081,Sani Jikan Mallam Hotel
17,Port Elizabeth,ZA,70.11,-33.9180,25.5701,39 On Nile Guest House
21,Gouyave,GD,79.57,12.1646,-61.7296,Rumboat Retreat
27,Padang,ID,73.45,-0.9492,100.3543,Mercure Padang
30,Jambi,ID,75.00,-1.6000,103.6167,ASTON Jambi Hotel & Conference Center

In [25]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

# Adding markers to the map
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

## So what we've done is added a formate template to gmaps.marker AFTER iterating through dataframe 
## and storing it in varaible: hotel_info
## https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#markers-and-symbols

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))