## Deliverable 2. Create a Customer Travel Destinations Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import *

# Configure gmaps API key

gmaps.configure(api_key=g_key)

In [14]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Verkhniye Tatyshly,56.2912,55.8575,22.78,95,100,3.62,RU,2/5/2022 15:10,overcast clouds
1,1,Tezu,27.9167,96.1667,55.42,96,100,0.89,IN,2/5/2022 15:10,light rain
2,2,Albany,42.6001,-73.9662,17.31,75,18,1.99,US,2/5/2022 15:07,few clouds
3,3,El Limon,10.3059,-67.6321,80.82,50,1,1.99,VE,2/5/2022 15:10,clear sky
4,4,Hobart,-42.8794,147.3294,60.03,77,100,4.61,AU,2/5/2022 15:09,overcast clouds

In [15]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(20)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
3,3,El Limon,10.3059,-67.6321,80.82,50,1,1.99,VE,2/5/2022 15:10,clear sky
14,14,Ongandjera,-17.8833,15.0667,82.67,28,86,12.50,NaN,2/5/2022 15:10,overcast clouds
15,15,Rikitea,-23.1203,-134.9692,78.37,73,22,11.07,PF,2/5/2022 15:10,few clouds
17,17,Fare,-16.7000,-151.0167,80.62,70,9,15.57,PF,2/5/2022 15:08,clear sky
18,18,Chokwe,-24.5333,32.9833,83.84,54,90,15.64,MZ,2/5/2022 15:08,overcast clouds
30,30,Vaini,-21.2000,-175.2000,75.36,100,100,8.05,TO,2/5/2022 15:05,light rain
31,31,Atuona,-9.8000,-139.0333,78.22,77,8,19.69,PF,2/5/2022 15:10,clear sky
35,35,Puerto Ayora,-0.7393,-90.3518,80.56,91,46,5.99,EC,2/5/2022 15:10,scattered clouds
40,40,Arraial Do Cabo,-22.9661,-42.0278,87.66,62,0,12.66,BR,2/5/2022 15:10,clear sky
43,43,Kismayo,-0.3582,42.5454,79.68,78,100,16.49,SO,2/5/2022 15:04,overcast clouds
45,45,Bathsheba,13.2167,-59.5167,83.01,57,20,19.57,BB,2/5/2022 15:10,few clouds
48,48,Kloulklubed,7.0419,134.2556,81.10,81,21,23.38,PW,2/5/2022 15:07,few clouds
51,51,Butaritari,3.0707,172.7902,82.51,70,16,19.86,KI,2/5/2022 15:10,few clouds
53,53,Kudahuvadhoo,2.6708,72.8944,82.08,70,86,12.50,MV,2/5/2022 15:06,overcast clouds
56,56,Cidreira,-30.1811,-50.2056,83.91,67,93,8.66,BR,2/5/2022 15:07,overcast clouds
57,57,Tamandare,-8.7597,-35.1047,85.17,58,65,9.35,BR,2/5/2022 15:10,broken clouds
67,67,Alenquer,-1.9417,-54.7383,82.74,78,93,1.28,BR,2/5/2022 15:10,overcast clouds
68,68,Tanout,14.9709,8.8879,78.17,7,5,20.07,NE,2/5/2022 15:10,clear sky
69,69,Kasangulu,-4.5911,15.1708,83.46,67,45,2.75,CD,2/5/2022 15:10,light rain
73,73,Conde,-7.2597,-34.9075,85.46,62,75,10.36,BR,2/5/2022 15:10,broken clouds

In [17]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.notnull().sum()

City_ID                180
City                   180
Lat                    180
Lng                    180
Max Temp               180
Humidity               180
Cloudiness             180
Wind Speed             180
Country                179
Date                   180
Current Description    180
dtype: int64

In [20]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = preferred_cities_df.dropna(how = 'all')

# Checking dataframe again aftter clearing nulls

clean_df.notnull().sum()

City_ID                180
City                   180
Lat                    180
Lng                    180
Max Temp               180
Humidity               180
Cloudiness             180
Wind Speed             180
Country                179
Date                   180
Current Description    180
dtype: int64

In [21]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"

hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,El Limon,VE,80.82,clear sky,10.3059,-67.6321,
14,Ongandjera,NaN,82.67,overcast clouds,-17.8833,15.0667,
15,Rikitea,PF,78.37,few clouds,-23.1203,-134.9692,
17,Fare,PF,80.62,clear sky,-16.7000,-151.0167,
18,Chokwe,MZ,83.84,overcast clouds,-24.5333,32.9833,
30,Vaini,TO,75.36,light rain,-21.2000,-175.2000,
31,Atuona,PF,78.22,clear sky,-9.8000,-139.0333,
35,Puerto Ayora,EC,80.56,scattered clouds,-0.7393,-90.3518,
40,Arraial Do Cabo,BR,87.66,clear sky,-22.9661,-42.0278,
43,Kismayo,SO,79.68,overcast clouds,-0.3582,42.5454,

In [22]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame

    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how = 'all')

clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,El Limon,VE,80.82,clear sky,10.3059,-67.6321,Campamento Valle Beraca
14,Ongandjera,NaN,82.67,overcast clouds,-17.8833,15.0667,Abner Nekongo residential
15,Rikitea,PF,78.37,few clouds,-23.1203,-134.9692,People ThankYou
17,Fare,PF,80.62,clear sky,-16.7000,-151.0167,Maitai Lapita Village Huahine
18,Chokwe,MZ,83.84,overcast clouds,-24.5333,32.9833,Complexo Sonho Real

In [25]:
# 8a. Create the output File (CSV)


output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Descrip.<dt><dd>{Current Description}<dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
#max_temp = hotel_df["Max Temp"]

#fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             # max_intensity=300, point_radius=4)

## So what we've done is added a formate template to gmaps.marker AFTER iterating through dataframe 
## and storing it in varaible: hotel_info
## https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#markers-and-symbols

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))